@tailwind base;

/* global font styles */

body {
 @apply text-gray-700;
}

h1 {
  @apply text-2xl font-sans font-semibold mb-4 text-gray-900;
}

h2 {
  @apply text-xl font-sans font-semibold mt-3 mb-3 border-b border-gray-400 text-gray-900;
}

h3 {
  @apply text-lg font-sans font-semibold mt-1 mb-1 text-gray-900;
}

p {
  @apply mt-2 mb-3;
}

strong {
  @apply font-semibold;
}

a {
  @apply underline;
  transition: color 0.75s;
}

a:hover {
  @apply text-red-600;
}

ul {
  @apply list-disc list-inside mb-2;
}

ol > li > ul {
  @apply ml-5;
}

li {
  @apply mb-1;
}

ul > li > ul {
  @apply list-circle list-inside ml-5;
}

ol {
  @apply list-decimal list-inside;
}

/* code layout */

code, code[class*="language-"], pre[class*="language-"] {
  @apply bg-codegray text-sm p-1;
}

pre {
  background: #f5f2f0;
}

pre {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* table layout */

table {
  @apply mt-3 mb-3 table-auto border-collapse border-2 border-gray-500;
}

tr > th {
  @apply border border-gray-400 px-2 py-1;
}

tr > td {
  @apply border border-gray-400 px-2 py-1;
}

/* docs, gallery */
.content {
  @apply flex flex-row;
}

.left-col {
  @apply w-48 border-r border-gray-400 pr-4 whitespace-nowrap flex-none;
}

.right-col {
  @apply ml-6 flex-1 min-w-0;
}

/* main */

.main-body {
  @apply bg-white px-4 mt-4 max-w-6xl;
}

/* infoboxes */
.callout {
  @apply bg-green-100 border-green-500 border-l-8 my-4 px-10 py-3 font-sans leading-snug;
}

/* codesandbox */

.example-render-fullscreen {
  @apply z-10 absolute bg-transparent inset-0 flex items-center m-auto; 
}

.example-container {
  @apply flex flex-wrap w-full h-full mt-10;
}

.example-rendered {
  @apply w-full flex-shrink-0 p-4 mb-2 border-dashed border-gray-400 border;
}

.example-rendered svg {
  @apply m-auto;
}

.example-code-tabs {
  @apply flex-1 relative m-2 text-base;
}

@screen lg {
  .example-rendered {
    @apply w-6/12;
  }
}

.example-code code, .example-code-snippets code {
  @apply text-sm;
}

.example-tab {
  @apply inline;
}

.example-tab label {
  @apply bg-white relative border-t border-l border-r border-b-0 rounded-t-sm border-gray-400 -m-px;
  left: 1px;
  padding: 10px;
}

.example-tab [type="radio"] {
  @apply hidden;
}

.example-content {
  min-height: 250px;
  max-height: 500px;
  @apply absolute overflow-auto border rounded-tr-sm rounded-b-sm border-gray-400 bg-codegray inset-x-0 bottom-0;
  top: 28px;
}

[type="radio"]:checked ~ label {
  @apply bg-codegray;
  z-index: 2;
}

[type="radio"]:checked ~ label ~ .example-content {
  z-index: 1;
}

[type="radio"]:checked ~ label ~ .example-content > * {
  opacity: 1;
  transform: translateX(0);
}

.example-csb-link {
  @apply flex-auto p-3;
  min-width: 200px;
}

.example-csb-link a {
  @apply no-underline text-blue-700;
}

.example-csb-link a:hover {
  @apply underline text-blue-800;
}

@tailwind components;
@tailwind utilities;
